<a href="https://colab.research.google.com/github/AhmedRezaShams/Python/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
fid = drive.ListFile({'q':"title='stroke.zip'"}).GetList()[0]['id']
f = drive.CreateFile({'id': fid})
f.GetContentFile('stroke.zip')
f.keys()
!unzip stroke.zip

Archive:  stroke.zip
  inflating: healthcare-dataset-stroke-data.csv

In [ ]:
data = pd.read_csv('healthcare-dataset-stroke-data.csv')
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [ ]:
data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
mean_bmi = data['bmi'].mean()
data['bmi'] = data['bmi'].fillna(mean_bmi)
data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [ ]:
data.drop(columns = ['id'], inplace = True)

In [ ]:
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [ ]:
# defining feature matrix(X) and response vector(y) 
X = data.iloc[:,1:-1]
X

,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked
1,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked
2,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked
3,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes
4,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked
...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked
5106,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked
5107,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked
5108,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked
5109,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown

In [ ]:
y = data.iloc[:,-1:]
y

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 1 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder
#convert categorical to numeric
labelencoder_X=LabelEncoder()
z = X.iloc[:,3]
X.iloc[:,3] = labelencoder_X.fit_transform(z.values.ravel())
X.iloc[:,3]

0       1
1       1
2       1
3       1
4       1
       ..
5105    1
5106    1
5107    1
5108    1
5109    1
Name: ever_married, Length: 5110, dtype: int64

In [ ]:
#convert categorical to numeric
labelencoder_X=LabelEncoder()
z = X.iloc[:,4]
X.iloc[:,4] = labelencoder_X.fit_transform(z.values.ravel())
X.iloc[:,4]

0       2
1       3
2       2
3       2
4       3
       ..
5105    2
5106    3
5107    3
5108    2
5109    0
Name: work_type, Length: 5110, dtype: int64

In [ ]:
#convert categorical to numeric
labelencoder_X=LabelEncoder()
z = X.iloc[:,5]
X.iloc[:,5] = labelencoder_X.fit_transform(z.values.ravel())
X

,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,67.0,0,1,1,2,1,228.69,36.600000,formerly smoked
1,61.0,0,0,1,3,0,202.21,28.893237,never smoked
2,80.0,0,1,1,2,0,105.92,32.500000,never smoked
3,49.0,0,0,1,2,1,171.23,34.400000,smokes
4,79.0,1,0,1,3,0,174.12,24.000000,never smoked
...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,1,2,1,83.75,28.893237,never smoked
5106,81.0,0,0,1,3,1,125.20,40.000000,never smoked
5107,35.0,0,0,1,3,0,82.99,30.600000,never smoked
5108,51.0,0,0,1,2,0,166.29,25.600000,formerly smoked
5109,44.0,0,0,1,0,1,85.28,26.200000,Unknown

In [ ]:
#convert categorical to numeric
labelencoder_X=LabelEncoder()
z = X.iloc[:,-1]
X.iloc[:,-1] = labelencoder_X.fit_transform(z.values.ravel())
X

,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,67.0,0,1,1,2,1,228.69,36.600000,1
1,61.0,0,0,1,3,0,202.21,28.893237,2
2,80.0,0,1,1,2,0,105.92,32.500000,2
3,49.0,0,0,1,2,1,171.23,34.400000,3
4,79.0,1,0,1,3,0,174.12,24.000000,2
...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,1,2,1,83.75,28.893237,2
5106,81.0,0,0,1,3,1,125.20,40.000000,2
5107,35.0,0,0,1,3,0,82.99,30.600000,2
5108,51.0,0,0,1,2,0,166.29,25.600000,1
5109,44.0,0,0,1,0,1,85.28,26.200000,0

In [ ]:
#z score normalization
scaller = StandardScaler()
X = scaller.fit_transform(X)

In [ ]:
# encode class values as integers
encoder = LabelEncoder()
encoder.fit(y)
y = encoder.transform(y)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [ ]:
# splitting X and y into training and testing sets  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
from keras.utils import np_utils
# convert integers to dummy variables (i.e. one hot encoded)
y_train = np_utils.to_categorical(y_train)

In [ ]:
# define the keras model
model = Sequential()
model.add(Dense(6, input_dim=9, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [ ]:
# compile the keras model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=100, batch_size=30)

acc = model.evaluate(X_train, y_train)
print("Loss:", acc[0], " Accuracy:", acc[1])

pred = model.predict(X_test)
pred_y = pred.argmax(axis=-1)

Epoch 1/100
137/137 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.9381
Epoch 2/100
137/137 [==============================] - 0s 2ms/step - loss: 0.2394 - accuracy: 0.9538
Epoch 3/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1842 - accuracy: 0.9538
Epoch 4/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1683 - accuracy: 0.9538
Epoch 5/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1619 - accuracy: 0.9538
Epoch 6/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1589 - accuracy: 0.9538
Epoch 7/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1574 - accuracy: 0.9538
Epoch 8/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1563 - accuracy: 0.9538
Epoch 9/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1557 - accuracy: 0.9538
Epoch 10/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1548 - accuracy: 0.9538
Epoch 11/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1543 - accuracy: 0.9538
Epoch 12/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1537 - accuracy: 0.9538
Epoch 13/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1533 - accuracy: 0.9538
Epoch 14/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1529 - accuracy: 0.9538
Epoch 15/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1529 - accuracy: 0.9538
Epoch 16/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1525 - accuracy: 0.9538
Epoch 17/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1524 - accuracy: 0.9538
Epoch 18/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1520 - accuracy: 0.9538
Epoch 19/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1520 - accuracy: 0.9538
Epoch 20/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1518 - accuracy: 0.9538
Epoch 21/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1515 - accuracy: 0.9538
Epoch 22/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1514 - accuracy: 0.9538
Epoch 23/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1513 - accuracy: 0.9538
Epoch 24/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1512 - accuracy: 0.9538
Epoch 25/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1509 - accuracy: 0.9538
Epoch 26/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1509 - accuracy: 0.9538
Epoch 27/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1507 - accuracy: 0.9538
Epoch 28/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1506 - accuracy: 0.9538
Epoch 29/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1504 - accuracy: 0.9538
Epoch 30/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1505 - accuracy: 0.9538
Epoch 31/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1504 - accuracy: 0.9538
Epoch 32/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1502 - accuracy: 0.9538
Epoch 33/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1501 - accuracy: 0.9538
Epoch 34/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1501 - accuracy: 0.9538
Epoch 35/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1500 - accuracy: 0.9538
Epoch 36/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1498 - accuracy: 0.9538
Epoch 37/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1498 - accuracy: 0.9538
Epoch 38/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1498 - accuracy: 0.9538
Epoch 39/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1497 - accuracy: 0.9538
Epoch 40/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1496 - accuracy: 0.9538
Epoch 41/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1496 - accuracy: 0.9538
Epoch 42/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1498 - accuracy: 0.9538
Epoch 43/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1494 - accuracy: 0.9538
Epoch 44/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1492 - accuracy: 0.9538
Epoch 45/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1493 - accuracy: 0.9538
Epoch 46/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1492 - accuracy: 0.9538
Epoch 47/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1492 - accuracy: 0.9538
Epoch 48/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1491 - accuracy: 0.9538
Epoch 49/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1492 - accuracy: 0.9538
Epoch 50/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1489 - accuracy: 0.9538
Epoch 51/100
137/137 [==============================] - 1s 6ms/step - loss: 0.1489 - accuracy: 0.9538
Epoch 52/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1489 - accuracy: 0.9538
Epoch 53/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1488 - accuracy: 0.9538
Epoch 54/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1487 - accuracy: 0.9538
Epoch 55/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1487 - accuracy: 0.9538
Epoch 56/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1488 - accuracy: 0.9538
Epoch 57/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9538
Epoch 58/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9538
Epoch 59/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1485 - accuracy: 0.9538
Epoch 60/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1488 - accuracy: 0.9538
Epoch 61/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1488 - accuracy: 0.9538
Epoch 62/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9538
Epoch 63/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 64/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1485 - accuracy: 0.9538
Epoch 65/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1485 - accuracy: 0.9538
Epoch 66/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9538
Epoch 67/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9538
Epoch 68/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 69/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9538
Epoch 70/100
137/137 [==============================] - 1s 5ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 71/100
137/137 [==============================] - 1s 4ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 72/100
137/137 [==============================] - 1s 4ms/step - loss: 0.1483 - accuracy: 0.9538
Epoch 73/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 74/100
137/137 [==============================] - 1s 6ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 75/100
137/137 [==============================] - 1s 5ms/step - loss: 0.1482 - accuracy: 0.9538
Epoch 76/100
137/137 [==============================] - 1s 5ms/step - loss: 0.1482 - accuracy: 0.9538
Epoch 77/100
137/137 [==============================] - 1s 4ms/step - loss: 0.1481 - accuracy: 0.9538
Epoch 78/100
137/137 [==============================] - 0s 3ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 79/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1482 - accuracy: 0.9538
Epoch 80/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1482 - accuracy: 0.9538
Epoch 81/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1481 - accuracy: 0.9538
Epoch 82/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1482 - accuracy: 0.9538
Epoch 83/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1483 - accuracy: 0.9538
Epoch 84/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1484 - accuracy: 0.9538
Epoch 85/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1481 - accuracy: 0.9538
Epoch 86/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1480 - accuracy: 0.9538
Epoch 87/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1480 - accuracy: 0.9538
Epoch 88/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1481 - accuracy: 0.9538
Epoch 89/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1479 - accuracy: 0.9538
Epoch 90/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1481 - accuracy: 0.9538
Epoch 91/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1478 - accuracy: 0.9538
Epoch 92/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1480 - accuracy: 0.9538
Epoch 93/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1479 - accuracy: 0.9538
Epoch 94/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1480 - accuracy: 0.9538
Epoch 95/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1479 - accuracy: 0.9538
Epoch 96/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1480 - accuracy: 0.9538
Epoch 97/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1478 - accuracy: 0.9538
Epoch 98/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1478 - accuracy: 0.9538
Epoch 99/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1479 - accuracy: 0.9538
Epoch 100/100
137/137 [==============================] - 0s 2ms/step - loss: 0.1478 - accuracy: 0.9538
128/128 [==============================] - 0s 2ms/step - loss: 0.1469 - accuracy: 0.9538
Loss: 0.14694465696811676  Accuracy: 0.9537671208381653
32/32 [==============================] - 0s 1ms/step